<div>
    <div class="text-md font-light text-content pb-8">
        @for(paragraph of paragraphs; track $index){
            <p> {{paragraph.content}} </p>
        }
    </div>

    <div>
        <span class="text-2xl font-medium">What i'm Doing</span>

        <div class="grid grid-cols-2 gap-5 mt-6">
            @for(hobbie of hobbies; track $index){
                <div class="flex place-items-center gap-3 p-6 rounded-2xl bg-dark-gray">
                    <mat-icon class="text-light-blue"> {{hobbie.image}} </mat-icon>
                    <div class="flex flex-col">
                        <span class="text-sm pb-2"> {{hobbie.title}} </span>
                        <span class="text-xs font-medium">{{hobbie.content}}</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>