<div class=" h-full w-full">
    <div class="grid grid-cols-8 gap-3">
        <div class="col-span-3 pl-7 pt-8">
            <span class="text-3xl font-semibold"> {{ item() }} </span>
            <div class="divider"></div>
        </div>
        <div class="col-span-5">
            <app-header (onItemSelected)="itemSelected($event)"></app-header>
        </div>
    </div>

    <div class="h-10/12 m-7 overflow-y-scroll hide-scrollbar">
        @switch (item()) {
            @case ('About Me'){
                <app-about></app-about>
            }
            @case ('Resume'){
                <app-resume></app-resume>
            }
            @case ('Portfolio'){
                <app-portfolio></app-portfolio>
            }
            @case ('Blog'){
                <app-blog></app-blog>
            }
            @case ('Contact'){
                <app-contact></app-contact>
            }
        }
    </div>
</div>